.cardhover{
    cursor: pointer;
    transition: all 1s;
}
.cardhover:hover{
    transform: scale(1.1);
    background-color: rgb(253, 253, 253);
}
.image{
    mix-blend-mode:multiply;
}
.btns{
    background-color: #343a40;
    border:none;
}
.btns:hover{
    background-color: #232629;
}
.fab:hover{
    transform: translateY(-4px);
}
.fab{
    transition: all 0.5s;
}